### Sample configuration file for the Coriolis
### OpenStack -> Openstack utility modules

[DEFAULT]
log_file = /var/log/coriolis/coriolis-openstack-utils.log
verbose = true
logging_exception_prefix = %(color)s%(asctime)s.%(msecs)03d TRACE %(name)s [01;35m%(instance)s[00m
logging_default_format_string = %(color)s %(levelname)s %(name)s [[00;36m-%(color)s] [01;35m %(message)s[00m

[coriolis]
identity_api_version = 3
auth_url = http://<coriolis_keystone_host>:5000
username = <coriolis_username>
password = <coriolis_user_password>
project_name = <coriolis_project_name>
user_domain_name = <coriolis_user_domain_name>
project_domain_name = <coriolis_project_domain_name>
allow_untrusted = False

[source]
# Format for Endpoint names on source. Must contain the
# format string '%(tenant)s'. Can optionally contain
# '%(region)s' and '%(user)s' as well.
endpoint_name_format = "Source_%(tenant)s"
identity_api_version = 3
auth_url = http://<source_keystone_host>:5000
region_name = RegionOne
username = <source_username>
password = <source_user_password>
project_name = <source_project_name>
user_domain_name = <source_user_domain_name>
project_domain_name = <source_project_domain_name>
allow_untrusted = False

[destination]
# NOTE: "*_name_format" must contain the format string '%(original)s'
new_tenant_name_format = "%(original)s-Migrated"
new_secgroup_name_format = "%(original)s-Migrated"
new_subnet_name_format = "%(original)s-Migrated"
new_network_name_format = "%(original)s-Migrated"
new_router_name_format = "%(original)s-Migrated"
new_user_name_format = "%(original)s"
new_flavor_name_format = "%(original)s"
new_keypair_name_format = "%(original)s"
# Default password for newly-migrated users
new_user_password = <new_user_password>
# Format for Endpoint names on source. Must contain the
# format string '%(tenant)s'. Can optionally contain
# '%(region)s' and '%(user)s' as well.
endpoint_name_format = "Destination_%(tenant)s"
# Name of the role to add the given user as in newly-created tenants.
admin_role_name = "admin"
skip_os_morphing = True
shutdown_instances = False
identity_api_version = 3
auth_url = http://<destination_keystone_host>:5000
region_name = RegionTwo
username = <destination_username>
password = <destination_password>
project_name = <destination_project_name>
user_domain_name = <destination_user_domain_name>
project_domain_name = <destination_project_domain_name>
allow_untrusted = False
network_map = external: external, yes: no
# mapping between provider:physical_network on source and destination for
# network migrations
# physical_network_mapping = source_physical_network: destination_physical_network
# mapping between provider:network_type on source and destination for
# network migrations (ex: vxlan, vlan, gre)
# network_type_mapping = source_network_type : destination_network_type
# mapping between source external networks and destination external networks
# used for router migrations, if not set, tool assumes same name on destination
# external_network_name_map = source_ext_net : dest_ext_net
# storage_map = iscsi1:iscsi2

# Whether or not to have the utility scripts pre-create the Neutron port(s) of
# the VM(s) on the destination OpenStack and instruct Coriolis to use them.
# This is useful for preserving non-standard Neutron port
# parameters (ex: 'allowed_address_pairs') whose replication cannot be handled
# by Coriolis itself. The port(s) must maintain the same MAC address for
# Coriolis to be able to identify and reuse them on the destination.
pre_create_neutron_ports = true

# Quotas for the newly-created tenant(s):
# new_tenant_admin_users = bob, alice, mike
new_tenant_nova_quotas = instances: -1, cores: -1, ram: -1, key_pairs: -1
new_tenant_cinder_quotas = volumes: -1, gigabytes: -1
new_tenant_neutron_quotas = security_group: -1
new_tenant_open_default_secgroup = false
# NOTE: only used when 'new_tenant_open_default_secgroup' is true:
new_tenant_allowed_protocols = tcp, udp, icmp
# whether to copy static routes from source routers
copy_routes = False
